<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生处-列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport {
            width: device-width;
        }

        @-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/both.css">
    <link rel="stylesheet" type="text/css" href="../css/indexPC.css"/>
    <link rel="stylesheet" type="text/css" href="../css/detail.css"/>
</head>
<body>
<div style="height: 1px;"></div>
<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    <img class="school-icon" src="../images/school.png"/>
                    <ul class="most-title-big">
                        <li class="top-school-name">郑州大学</li>
                        <li class="top-depart">学生工作网</li>
                    </ul>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav1.png"/></li>
                            <li>部门简介</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav2.png"/></li>
                            <li>管理规定</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav3.png"/></li>
                            <li>表格下载</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav4.png"/></li>
                            <li>服务指南</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav5.png"/></li>
                            <li>理论学习</li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a href="/">
        <ul class="most-title-small">
            <li class="top-depart">学生工作网</li>
        </ul>
    </a>
</nav>
<div class="container article">
    <ul class="list-group">
        <li class="list-group-item">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li class="active"><a href="#">新闻</a></li>
            </ol>
        </li>
        <li class="list-group-item head-title"><h3>材料科学与工程学院启动“手抄党章100天”活动</h3></li>
        <li class="list-group-item head-title">
            <span>
                发布人 <span class="badge">于苏静</span>
            </span>
            <span>
                信息来源 <span class="badge">材料科学与工程学院</span>
            </span>
            <span>
                发布时间 <span class="badge">2016-03-29</span>
            </span>
            <span>
                已阅 <span class="badge">148</span>
            </span>
        </li>
        <li class="list-group-item main-body">
                近日，为纪念建党95周年，贯彻落实“两学一做”学习要求，学院党委在全体学生党员中启动了“手抄党章100天”活动。
                活动以党的十八大和习近平总书记系列重要讲话精神为指导，结合我院学生党建工作实际，以各学生党支部为单位组织党员和积极分子抄写党章，历时100天，以日记的形式记录对党章的学习感悟。院党委要求全体学生党员和积极分子要用心抄写党章，重温党的历史，学习党员模范，全面理解党的基本理论、基本纲领、基本路线、基本方针、基本政策。通过这项活动，进一步增强全体学生党员的政治意识，大局意识，看齐意识，强化宗旨观念，使其勇于担当作为，在学习、工作和生活中起先锋模范作用。
                据悉，今年“七一”期间，学院党委将对“手抄党章”作品进行展出评比，向党的生日献礼。
        </li>
    </ul>
</div>
</body>
</html>