<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生处-文章详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="学生处-文章详情">
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport {
            width: device-width;
        }

        @-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/both.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/topnavPC.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/topnvaMo.css">
    <link rel="stylesheet" type="text/css" href="../css/detail.css"/>
    <link rel="stylesheet" type="text/css" href="../css/listAnddetail.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/detailMo.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/listAnddetailMo.css">

    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
</head>
<body>
<div style="height: 1px;"></div>
<cms:include page="top.html"/>

<div class="top-photo hidden-xs">
    <img src="../images/bannerWidthSpace.png">
</div>
<div class="container article">
    <div class="row">
        <cms:include page="leftNav.html"/>
        <div class="col-lg-10 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <ol class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li class="active"><a href="#">新闻</a></li>
                    </ol>
                </li>
                <li class="list-group-item head-title">
                    <h3>${templateData.article.title}</h3>
                </li>
                <li class="list-group-item head-title">
                    <span>
                        发布人 <span class="badge">${templateData.article.author}</span>
                    </span>
                    <span>
                        信息来源 <span class="badge">${templateData.article.department}</span>
                    </span>
                    <span>
                        发布时间 <span class="badge">${templateData.article.publishDate}</span>
                    </span>
                    <span>
                        已阅 <span class="badge">148</span>
                    </span>
                </li>
                <li class="list-group-item main-body">
                    ${templateData.article.content}
                    <div class="share-main">
                        <img class="share-button" src="../images/share.png">
                        <div id="share-to">
                            <a class="qq-share" href="" target="_blank">
                                <img src="../images/QQ.png">
                            </a>
                            <a class="weibo-share" target="_blank" href="">
                                <img src="../images/weiboshare.png">
                            </a>
                            <a class="qcloud-share" href="" target="_blank">
                                <img src="../images/qcloudshare.png">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li class="col-xs-12 list-group-item">
                    <nav>
                        <ul class="pager">
                            <li class="previous">
                                <!--!!!-->
                                    <a href=""> 下一篇 &nbsp; </a>

                            </li>
                            <li class="next">

                                    <a href=""> 下一篇 &nbsp; </a>

                            </li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <hr/>
        <p>郑州大学学生处©2016-2020</p>
    </div>
</div>
</body>
<script src="../js/detailPCMo.js"></script>
<script>
    if (screen && screen.width > 750) {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        //跳转语句
        if (system.win || system.mac || system.xll || system.ipad) {
            //电脑
        } else {
            //手机
            document.write('<script src="../js/bootstrap.min.js"><\/script>');
            document.write('<script src="../js/detailMo.js"><\/script>');
        }
    } else {
        //手机
        document.write('<script src="../js/bootstrap.min.js"><\/script>');
        document.write('<script src="../js/detailMo.js"><\/script>');
    }
</script>
</html>