<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>学生处</title>
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport {
            width: device-width;
        }

        @-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/both.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/topnavPC.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/topnvaMo.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/indexPC.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/indexMo.css">
    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div style="height: 1px;"></div>
<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    <img class="school-icon" src="../images/logo.png"/>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav1.png"/></li>
                            <li>部门介绍</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav2.png"/></li>
                            <li>管理规定</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav3.png"/></li>
                            <li>表格下载</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav4.png"/></li>
                            <li>服务指南</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav5.png"/></li>
                            <li>理论学习</li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid back">
    <div class="container give-in-pad">
        <div class="row center-two">
            <div class="col-xs-12 col-lg-5 left-div in-main-div">
                <div class="left-top-nav">
                    <div class="hd">
                        <ul>
                            <li class="col-lg-6 col-xs-6">新闻</li>
                            <li class="col-lg-6 col-xs-6">公告</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间对方角度来看时间对方角度来看时间对方角度来看时间对方角度来看时间</a></p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间</a></p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间</a></p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间</a></p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间</a></p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p><a href="#">对方角度来看时间</a></p></li>
                        </ul>
                        <ul>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                            <li>
                                <time>2015-06-09</time>
                                <p>wode角度来看时间</p></li>
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(".left-top-nav").slide({delayTime: 0});
                </script>
            </div>
            <div class="col-xs-12 col-lg-4 right-div in-main-div">
                <div class="right-top-nav">
                    <div class="hd">
                        <ul>
                            <li class="col-lg-4 col-xs-4 nav-three">国际交流</li>
                            <li class="col-lg-4 col-xs-4 nav-fore">院系风采</li>
                            <li class="col-lg-4 col-xs-4 nav-five">领导讲话</li>
                        </ul>
                    </div>
                    <div class="slide">
                        <div class="bd">
                            <ul class="bdul1">
                                <li>
                                    <img src="../images/photo1.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/photo2.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/rice.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="bdul2">
                                <li>
                                    <img src="../images/photo1.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/photo2.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/rice.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="bdul3">
                                <li>
                                    <img src="../images/photo1.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/photo2.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/rice.jpg"/>
                                    <div class="right-tit">
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                        <p><a href="#">小朝那个螺丝钉解放酸辣粉</a></p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(".slide").slide({mainCell: ".bd .bdul1", autoPlay: true, delayTime: 1000});
                    jQuery(".slide").slide({mainCell: ".bd .bdul2", autoPlay: true, delayTime: 1000});
                    jQuery(".slide").slide({mainCell: ".bd .bdul3", autoPlay: true, delayTime: 1000});
                    jQuery(".right-top-nav").slide({delayTime: 0});
                </script>
            </div>
        </div>
        <div class="row bottom-div">
            <div class="col-xs-6 bottom-img-div">
                <img src="../images/辅导员基地.png"/>
            </div>
            <div class="col-xs-6 bottom-img-div">
                <img src="../images/心理健康中心.png"/>
            </div>
            <div class="col-xs-6 bottom-img-div">
                <img src="../images/女性维权.png"/>
            </div>
            <div class="col-xs-6 bottom-img-div">
                <img src="../images/学工新媒体.png"/>
            </div>
        </div>
        <div class="copy-right">
            <hr/>
            <p>郑州大学学生处©2016-2020</p>
        </div>
    </div>
</div>
<div class="weather hidden-xs">
    <iframe width="190" scrolling="no" height="50" frameborder="0" allowtransparency="true"
            src="http://i.tianqi.com/index.php?c=code&id=12&bgc=%2300B0F0&bdc=%23&icon=1&py=zhengzhou&num=1">
    </iframe>
</div>

</body>
<script type="text/javascript" src="../js/indexBoth.js"></script>
<script>
    if (screen && screen.width > 750) {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        //跳转语句
        if (system.win || system.mac || system.xll || system.ipad) {
            //电脑
            console.info("电脑");
            if(document.body.offsetWidth < 750){
                document.write('<script src="../js/bootstrap.min.js" ><\/script>');
            }
            document.write('<script src="../js/indexJs.js" ><\/script>');
            window.onresize = function(){
                setBackMargin();
                first();
            }
        } else {
            //手机
            console.info("手机");
            document.write('<script src="../js/indexMo.js" ><\/script>');
            document.write('<script src="../js/bootstrap.min.js"><\/script>');
        }
    } else {
        //手机
        console.info("手机");
        document.write('<script src="../js/indexMo.js" ><\/script>');
        document.write('<script src="../js/bootstrap.min.js"><\/script>');
    }
</script>
</html>