<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>学生处</title>
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport       { width: device-width; }
        @-webkit-viewport   { width: device-width; }
        @-moz-viewport      { width: device-width; }
        @-ms-viewport       { width: device-width; }
        @-o-viewport        { width: device-width; }
        @viewport           { width: device-width; }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/bothPcMo.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/indexStyle.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/indexMobile.css">
    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span>
                    <img class="school-icon" src="../images/school.png"/>
                    <ul class="most-title-big">
                        <li class="top-school-name">郑州大学</li>
                        <li class="top-depart">学生工作网</li>
                    </ul>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><ul><li><img width="40px" src="../images/nav1.png"/></li><li>部门简介</li></ul></a></li>
                <li><a href="#"><ul><li><img width="40px" src="../images/nav2.png"/></li><li>管理规定</li></ul></a></li>
                <li><a href="#"><ul><li><img width="40px" src="../images/nav3.png"/></li><li>表格下载</li></ul></a></li>
                <li><a href="#"><ul><li><img width="40px" src="../images/nav4.png"/></li><li>服务指南</li></ul></a></li>
                <li><a href="#"><ul><li><img width="40px" src="../images/nav5.png"/></li><li>理论学习</li></ul></a></li>
            </ul>
        </div>
    </div>
    <ul class="most-title-small">
        <li class="top-depart">学生工作网</li>
    </ul>
</nav>


<!-- 内容信息 -->
<div id="main">

    <div id="notice">
        <div id="list">
            <ul>
                <li id="navigatorLi1" onmouseover="changeLi(this)">
                    <h2>新闻&nbsp;&nbsp;News</h2>
                </li>
                <li id="navigatorLi2" onmouseover="changeLi(this)">
                    <h2>公告&nbsp;&nbsp;Notice</h2>
                </li>
            </ul>
        </div>
        <div id="navigatorskip">
            <div id="navigatorLi1skip">
                <ul class="ulleft">
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                </ul>
                <p><a href="index.html" class="more">more&gt;&gt;</a></p>
            </div>
            <div id="navigatorLi2skip">
                <ul class="ulleft">
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                </ul>
                <p><a href="index.html" class="more">more&gt;&gt;</a></p>
            </div>
        </div>
    </div>
    <div id="image">
        <div id="picture">
            <ul>
                <li id="infoLi1" onmouseover="varyLi(this)">
                    <h2>国际交流</h2>
                </li>
                <li id="infoLi2" onmouseover="varyLi(this)">
                    <h2>院系风采</h2>
                </li>
                <li id="infoLi3" onmouseover="varyLi(this)">
                    <h2>领导讲话</h2>
                </li>
            </ul>
        </div>
        <div id="infoskip">
            <div id="infoLi1skip">
                <div class="bd1 bd">
                    <ul>
                        <li>
                            <img src="../images/photo1.jpg"/>
                            <p>刘炯天开学大会发表公告</p>
                        </li>
                        <li>
                            <img src="../images/photo2.jpg"/>
                            <p>刘炯天开学大会发表公告</p>
                        </li>
                        <li>
                            <img src="../images/photo3.jpg"/>
                            <p>刘炯天开学大会发表公告</p>
                        </li>
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <div id="infoLi2skip">
                <div class="bd bd2">
                    <ul>
                        <li><img src="../images/photo1.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        <li><img src="../images/photo2.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        <li><img src="../images/photo3.jpg"/><p>刘炯天开学大会发表公告</p></li>
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
            <div id="infoLi3skip">
                <div class="bd bd3">
                    <ul>
                        <li><img src="../images/photo1.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        <li><img src="../images/photo2.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        <li><img src="../images/photo3.jpg"/><p>刘炯天开学大会发表公告</p></li>
                    </ul>
                </div>
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery("#infoskip").slide({mainCell: ".bd1 ul", autoPlay: true, delayTime: 1000});
        jQuery("#infoskip").slide({mainCell: ".bd2 ul", autoPlay: true, delayTime: 1000});
        jQuery("#infoskip").slide({mainCell: ".bd3 ul", autoPlay: true, delayTime: 1000});
    </script>
    <div class="bottom">
        <ul>
            <li id="blogroll1"><a href="#" target="_blank"><img src="../images/blogroll4.png"/> </a></li>
            <li id="blogroll2"><a href="#" target="_blank"><img src="../images/blogroll2.png"/> </a></li>
            <li id="blogroll3"><a href="#" target="_blank"><img src="../images/blogroll1.png"/> </a></li>
            <li id="blogroll4"><a href="#" target="_blank"><img src="../images/blogroll3.png"/> </a></li>
        </ul>
    </div>
</div>
<div class="weather">
    <iframe width="190" scrolling="no" height="50" frameborder="0" allowtransparency="true"
            src="http://i.tianqi.com/index.php?c=code&id=12&bgc=%2300B0F0&bdc=%23&icon=1&py=zhengzhou&num=1">
    </iframe>
</div>
</body>
<script>
    if(screen && screen.width>700) {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        //跳转语句，如果是手机访问就自动跳转到wap.baidu.com页面
        if (system.win || system.mac || system.xll || system.ipad) {
            //document.write('<script src="js/indexPC.js" ><\/script>');
        } else {
            //document.write('<script src="js/indexMobile.js" ><\/script>');
            document.write('<script src="../js/bootstrap.min.js"><\/script>');
        }
    }else{
        alert("手机");
        //document.write('<script src="js/indexMobile.js" ><\/script>');
        document.write('<script src="../js/bootstrap.min.js"><\/script>');
    }
</script>
<script src="../js/indexJs.js"></script>
</html>