<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="../css/indexStyle.css"/>
    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<div id="top">
    <div class="logo"><a href="#" target="_blank"><img src="../images/logo.png"/> </a></div>
    <div id="navigator">
        <ul>
            <li id="nav1">
                <img src="../images/nav1.png" class="img"/>
                <a href="#" target="_blank">
                    <p>院系风采</p>
                </a>
            </li>
            <li id="nav2"><img src="../images/nav2.png" class="img"/><a href="#" target="_blank">
                <span>国际交流</span></a></li>
            <li id="nav3"><img src="../images/nav3.png" class="img"/><a href="#" target="_blank">
                <span>通知公告</span></a></li>
            <li id="nav4"><img src="../images/nav4.png" class="img"/><a href="#" target="_blank">
                <span>新闻动态</span></a></li>
            <li id="nav5"><img src="../images/nav5.png" class="img"/><a href="#" target="_blank">
                <span>关于学工</span></a></li>
        </ul>
    </div>
</div>

    <!-- 内容信息 -->
    <div id="main">

        <div id="notice">
            <div id="list">
                <ul>
                    <li id="navigatorLi1" onmouseover="changeLi(this)">
                        <h2>新闻&nbsp;&nbsp;News</h2>
                    </li>
                    <li id="navigatorLi2" onmouseover="changeLi(this)">
                        <h2>公告&nbsp;&nbsp;Notice</h2>
                    </li>
                </ul>
            </div>
            <div id="navigatorskip">
                <div id="navigatorLi1skip">
                    <ul class="ulleft">
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>

                    </ul>
                    <li><a href="index.html" class="more">more&gt;&gt;</a></li>
                </div>
                <div id="navigatorLi2skip">
                    <ul class="ulleft">
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                        <li><a href="http://www.4399.com"> 河南省郑州市高新区郑州大学100号</a><span>2018-01-01</span></li>
                    </ul>
                    <li><a href="index.html" class="more">more&gt;&gt;</a></li>
                </div>
            </div>
        </div>
        <div id="image">
            <div id="picture">
                <ul>
                    <li id="infoLi1" onmouseover="varyLi(this)">
                        <h2>国际交流</h2>
                    </li>
                    <li id="infoLi2" onmouseover="varyLi(this)">
                        <h2>院系风采</h2>
                    </li>
                    <li id="infoLi3" onmouseover="varyLi(this)">
                        <h2>领导讲话</h2>
                    </li>
                </ul>
            </div>
            <div id="infoskip">
                <div id="infoLi1skip">
                    <div class="bd1 bd">
                        <ul>
                            <li>
                                <img src="../images/photo1.jpg"/>
                                <p>刘炯天开学大会发表公告</p>
                            </li>
                            <li>
                                <img src="../images/photo2.jpg"/>
                                <p>刘炯天开学大会发表公告</p>
                            </li>
                            <li>
                                <img src="../images/photo3.jpg"/>
                                <p>刘炯天开学大会发表公告</p>
                            </li>
                        </ul>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                </div>
                <div id="infoLi2skip">
                    <div class="bd bd2">
                        <ul>
                            <li><img src="../images/photo1.jpg"/><p>刘炯天开学大会发表公告</p></li>
                            <li><img src="../images/photo2.jpg"/><p>刘炯天开学大会发表公告</p></li>
                            <li><img src="../images/photo3.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        </ul>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                </div>
                <div id="infoLi3skip">
                    <div class="bd bd3">
                        <ul>
                            <li><img src="../images/photo1.jpg"/><p>刘炯天开学大会发表公告</p></li>
                            <li><img src="../images/photo2.jpg"/><p>刘炯天开学大会发表公告</p></li>
                            <li><img src="../images/photo3.jpg"/><p>刘炯天开学大会发表公告</p></li>
                        </ul>
                    </div>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery("#infoskip").slide({mainCell: ".bd1 ul", autoPlay: true, delayTime: 1000});
            jQuery("#infoskip").slide({mainCell: ".bd2 ul", autoPlay: true, delayTime: 1000});
            jQuery("#infoskip").slide({mainCell: ".bd3 ul", autoPlay: true, delayTime: 1000});
        </script>
        <div class="bottom">
            <ul>
                <li id="blogroll1"><a href="#" target="_blank"><img src="../images/blogroll4.png"/> </a></li>
                <li id="blogroll2"><a href="#" target="_blank"><img src="../images/blogroll2.png"/> </a></li>
                <li id="blogroll3"><a href="#" target="_blank"><img src="../images/blogroll1.png"/> </a></li>
                <li id="blogroll4"><a href="#" target="_blank"><img src="../images/blogroll3.png"/> </a></li>
            </ul>
        </div>
    </div>
<div class="weather">
    <iframe width="190" scrolling="no" height="50" frameborder="0" allowtransparency="true"
            src="http://i.tianqi.com/index.php?c=code&id=12&bgc=%2300B0F0&bdc=%23&icon=1&py=zhengzhou&num=1">
    </iframe>
</div>
</body>
<script src="../js/indexJs.js"></script>
</html>