<nav class="col-lg-2 hidden-xs left-list">
    <ul>
        <cms:var type="catalog" alias="xinwendongtai" var="temp_var">
            <li onclick="window.location.href='${temp_var.url}'">新闻</li>
        </cms:var>
        <cms:var type="catalog" alias="tongzhigonggao" var="temp_var">
            <li onclick="window.location.href='${temp_var.url}'">公告</li>
        </cms:var>
        <cms:var type="catalog" alias="guojijiaoliu" var="temp_var">
            <li onclick="window.location.href='${temp_var.url}'">国际交流</li>
        </cms:var>
        <cms:var type="catalog" alias="yuanxifengcai" var="temp_var">
            <li onclick="window.location.href='${temp_var.url}'">院系风采</li>
        </cms:var>
        <cms:var type="catalog" alias="lingdaojianghua" var="temp_var">
            <li onclick="window.location.href='${temp_var.url}'">领导讲话</li>
        </cms:var>
    </ul>
</nav>