<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生处-列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport {
            width: device-width;
        }

        @-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../css/both.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/topnavPC.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/topnvaMo.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/listMo.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css"/>
    <link rel="stylesheet" type="text/css" href="../css/listAnddetail.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/listAnddetailMo.css">
    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
</head>
<body>
<div style="height: 1px;"></div>
<cms:include page="top.html"/>
<div class="top-photo hidden-xs">
    <img src="../images/bannerWidthSpace.png">
</div>
<div class="container article">
    <div class="row">
        <cms:include page="leftNav.html"/>
        <div class="col-lg-10 col-xs-12">
            <ul class="list-group center-list">
                <li class="list-group-item head-title">
                    <h2>${templateData.catalog.name}</h2>
                    <form>
                        <div class="input-group input-lg">
                            <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </span>
                        </div>
                    </form>
                </li>
                <cms:list data="article" count="12" begin="0" level="current" order="recent" id="${templateData.catalog.id}">
                    <li class="list-group-item content">
                        <p class="time">${article.publishDate}</p>
                        <p class="tit"><a href="${article.url}">${article.title}</a></p>
                    </li>
                </cms:list>

                <li class="list-group-item paging">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">尾页</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <hr/>
        <p>郑州大学学生处©2016-2020</p>
    </div>
</div>
</body>
<script>
    if (screen && screen.width > 750) {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        //跳转语句
        if (system.win || system.mac || system.xll || system.ipad) {
            //电脑
            document.write('<script src="../js/list.js"><\/script>');
        } else {
            //手机
            document.write('<script src="../js/bootstrap.min.js"><\/script>');
            document.write('<script src="../js/listMo.js"><\/script>');
        }
    } else {
        //手机
        document.write('<script src="../js/bootstrap.min.js"><\/script>');
        document.write('<script src="../js/listMo.js"><\/script>');
    }
</script>
</html>