<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>学生处-列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <style>
        /*处理window phone手机的网页显示问题*/
        @-ms-viewport {
            width: device-width;
        }

        @-webkit-viewport {
            width: device-width;
        }

        @-moz-viewport {
            width: device-width;
        }

        @-ms-viewport {
            width: device-width;
        }

        @-o-viewport {
            width: device-width;
        }

        @viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="../css/both.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-width:768px)" href="../css/indexPC.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/indexMo.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="../css/listMo.css">
    <link rel="stylesheet" type="text/css" href="../css/calendar.css"/>
    <link rel="stylesheet" type="text/css" href="../css/list.css"/>
    <link rel="stylesheet" type="text/css" href="../css/listAnddetail.css"/>
    <script type="text/javascript" src="../js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../js/calendar.js"></script>
</head>
<body>
<div style="height: 1px;"></div>
<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    <img class="school-icon" src="../images/school.png"/>
                    <ul class="most-title-big">
                        <li class="top-school-name">郑州大学</li>
                        <li class="top-depart">学生工作网</li>
                    </ul>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav1.png"/></li>
                            <li>部门简介</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav2.png"/></li>
                            <li>管理规定</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav3.png"/></li>
                            <li>表格下载</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav4.png"/></li>
                            <li>服务指南</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ul>
                            <li><img width="40px" src="../images/nav5.png"/></li>
                            <li>理论学习</li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <a href="/">
        <ul class="most-title-small">
            <li class="top-depart">学生工作网</li>
        </ul>
    </a>
</nav>
<div class="container article">
    <div class="col-lg-9 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item head-title"><h2>新闻</h2></li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>
            <li class="list-group-item content">
                <p class="time">2015.12.25</p>
                <p class="tit">《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告《炎症性脏器损伤的免疫调节机制》学术报告</p>
            </li>

            <li class="list-group-item paging">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-3">
        <div id="CalendarMain">
            <div id="title">
                <a class="selectBtn month" href="javascript:" onclick="CalendarHandler.CalculateLastMonthDays();">&lt;</a>
                <a class="selectBtn selectYear" href="javascript:" onClick="CalendarHandler.CreateSelectYear(CalendarHandler.showYearStart);">2014年</a><a class="selectBtn selectMonth" onClick="CalendarHandler.CreateSelectMonth()">6月</a>
                <a class="selectBtn nextMonth" href="javascript:" onClick="CalendarHandler.CalculateNextMonthDays();">&gt;</a>
                <a class="selectBtn currentDay" href="javascript:" onClick="CalendarHandler.CreateCurrentCalendar(0,0,0);">今天</a>
            </div>
            <div id="context">
                <div class="week">
                    <h3> 一 </h3>
                    <h3> 二 </h3>
                    <h3> 三 </h3>
                    <h3> 四 </h3>
                    <h3> 五 </h3>
                    <h3> 六 </h3>
                    <h3> 日 </h3>
                </div>
                <div id="center">
                    <div id="centerMain">
                        <div id="selectYearDiv"></div>
                        <div id="centerCalendarMain">
                            <div id="Container"></div>
                        </div>
                        <div id="selectMonthDiv"></div>
                    </div>
                </div>
                <div id="foots"><a id="footNow">19:14:34</a></div>
            </div>
        </div>
        <div class="input-group left-search">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn" onclick="alert('此功能暂未开通');">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="copy-right">
        <hr/>
        <p>郑州大学学生处©2016-2020</p>
    </div>
</div>
</body>
<script>
    if (screen && screen.width > 750) {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

        //平台、设备和操作系统
        var system = {
            win: false,
            mac: false,
            xll: false,
            ipad: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf("Win") == 0;
        system.mac = p.indexOf("Mac") == 0;
        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
        system.ipad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
        //跳转语句
        if (system.win || system.mac || system.xll || system.ipad) {
            //电脑
            document.write('<script src="../js/list.js"><\/script>');
        } else {
            //手机
            document.write('<script src="../js/bootstrap.min.js"><\/script>');
            document.write('<script src="../js/listMo.js"><\/script>');
        }
    } else {
        //手机
        document.write('<script src="../js/bootstrap.min.js"><\/script>');
        document.write('<script src="../js/listMo.js"><\/script>');
    }
</script>
</html>