<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/indexCheck.js"></script>
    <script>
        if(!isIELow){
            window.location.href = 'http://${site.url}';
        }
    </script>
    <title>学生处-提示</title>
    <style>
        body{
            background: #f7f7f7;
            font-family: '微软雅黑 Light','微软雅黑','宋体', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            line-height: 35px;
        }
        .article-main{
            margin: 0 auto;
            width: 800px;
        }
        .bottom{
            text-align: right;
        }
    </style>
</head>
<body>
<div class="article-main">
    <h1>学生处</h1>
    <h2 id="致用户的一封信">致不兼容客户端---用户的一封信</h2>

    <hr>

    <p>对不起 <br>
        我们向您表示诚挚的歉意</p>

    <hr>

    <p>您进入这个页面，说明您正在使用IE8.0或者更低版本的浏览器或者浏览器内核访问我们的网站 <br>
        可能您的浏览器是IE也可能是其它浏览器的IE内核模式比如360或者搜狗。由于IE版本太低，我们决定不为这些版本浏览器提供支持，下面是几点解决办法：</p>

    <ol>
        <li>升级您的系统到win8或者win10，放心它们是非常好的系统，特别是win10改善了win8的兼容性问题。如果您坚持使用老旧的win7或者更低版本，请升级您的浏览器到IE9.0版本或者更高，如果做不到请看第二条。</li>
        <li>下载谷歌或者火狐浏览器，他们可以在更老的winxp系统上安装并给您提供优质的页面浏览体验。虽然我们因为某些原因不能浏览谷歌网站，但是并不影响我们使用谷歌浏览器，请百度“谷歌浏览器离线安装包”下载谷歌浏览器。火狐浏览器直接去官网下载即可。</li>
        <li>如果您是360浏览器或者其它双内核国产浏览器并且您坚持使用它，我们建议您切换到webkit内核模式（谷歌浏览器内核），360的话点击地址栏右边的ie图标选择极速模式即可。</li>
    </ol>

    <hr>

    <p>我们由衷的建议您们放弃IE的使用，微软已经不提供更新。我们由衷的建议您升级您的系统到win10，并使用其中的浏览器访问我们的网站。我们推荐您谷歌和火狐浏览器。</p>

    <p>谢谢您的支持，祝您接下来的生活幸福愉快。</p>
    <p class="bottom">来自郑州大学学生处</p>
</div>
</body>
</html>