<nav class="navbar navbar-default mynav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${site.url}">
                <span>
                    <img class="school-icon" src="../images/logo.png"/>
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse mynavbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <cms:var type="catalog" alias="bumenjieshao" var="temp_var">
                        <a href="${temp_var.url}">
                            <ul>
                                <li><img width="40px" src="../images/nav1.png"/></li>
                                <li>部门介绍</li>
                            </ul>
                        </a>
                    </cms:var>
                </li>
                <li>
                    <cms:var type="catalog" alias="guanliguiding" var="temp_var">
                        <a href="${temp_var.url}">
                            <ul>
                                <li><img width="40px" src="../images/nav2.png"/></li>
                                <li>管理规定</li>
                            </ul>
                        </a>
                    </cms:var>
                </li>
                <li>
                    <cms:var type="catalog" alias="biaogexiazai" var="temp_var">
                        <a href="${temp_var.url}">
                            <ul>
                                <li><img width="40px" src="../images/nav3.png"/></li>
                                <li>表格下载</li>
                            </ul>
                        </a>
                    </cms:var>
                </li>
                <li>
                    <cms:var type="catalog" alias="fuwuzhinan" var="temp_var">
                        <a href="${temp_var.url}">
                            <ul>
                                <li><img width="40px" src="../images/nav4.png"/></li>
                                <li>服务指南</li>
                            </ul>
                        </a>
                    </cms:var>
                </li>
                <li>
                    <cms:var type="catalog" alias="lilunxuexi" var="temp_var">
                        <a href="${temp_var.url}">
                            <ul>
                                <li><img width="40px" src="../images/nav5.png"/></li>
                                <li>理论学习</li>
                            </ul>
                        </a>
                    </cms:var>
                </li>
            </ul>
        </div>
    </div>
</nav>