.article{
    padding-top: 100px;
}
.article .list-group-item{
    background: rgba(255,255,255,0.9);
}
.article .head-title{
    text-align: center;
}
.article .breadcrumb{
    background: transparent;
}
.article .main-body{
    line-height: 25px;
}