.article{
    padding-top: 100px;
}
.article .list-group-item{
    background: #f6f6f6;
}
.article .head-title{
    text-align: center;
}
.article .breadcrumb{
    background: transparent;
}
.article .main-body{
    line-height: 35px;
}