.article .list-group-item{
    background: #fafafa;
}
.article .head-title{
    text-align: center;
}
.article .head-title>span{
    margin-left: 20px;
}
.article .breadcrumb{
    background: transparent;
}
.article .main-body{
    line-height: 35px;
}

.list-group{
    padding-right: 0;
}
.pager{
    width: 100%;
}
.pager li{
    max-width: 50%;
}
.pager li a{
    display: block;
    color: #00a9ff;
    max-width: 50%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}

/*分享按钮*/
.share-main{
    position: relative;
}
.share-main:hover #share-to{
    display: block;
}
.share-button {
    float: right;
    cursor: pointer;
    padding-top: 12px;
}
#share-to {
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #cdcdcd;
    position: absolute;
    top: -50px;
    right: -74px;
    display: none;
}
#share-to .weixin-share{
    position: absolute;
    right: -5px;
    padding: 0 20px 20px 20px;
    top: -250px;
    width: 200px;
    height: 230px;
    background: #fff;
    border-radius: 10px;
    border:1px #adadad solid;
}
#share-to .weixin-share p{
    margin:0;
    height: 30px;
    line-height: 30px;
}
#share-to.weixin-share .weixin-erwei{
    width: 160px;
    height: 160px;
}
#share-to img{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
/*-----*/