body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
}
a:hover{
    text-decoration: none;
}


.navbar,.navbar-default .navbar-collapse{
    height: 70px !important;
}
.navbar-brand ul{
    padding-left: 60px;
}
.mynavbar .nav li a{
    padding-top: 0;
}
.mynavbar .nav li ul{
    padding: 0;
    height: 70px;
}
.mynavbar .nav li ul li{
    text-align: center;
    padding-top: 3px;
}
.mynav{
    background-color: transparent;/*rgba(200, 200, 200, 0.5);*/
    border: 0;
    color: #000 !important;
}
/*大屏幕和小屏幕显示效果不同*/
.mynav .most-title-small{
    visibility: hidden;
}

.navbar-brand .top-school-name{
    font-size: 20px;
    font-family: '隶书';
    padding-bottom: 5px;
}
.navbar-brand .top-depart{
    font-size: 23px;
    font-family: '楷体';
}

/*顶部导航栏*/
.mynavbar ul{
    float: right;
}
.mynavbar ul li:hover{
    background: #c1c1c1;
}

/*天气*/
.weather{
    position: fixed;
    top: 100px;
    right: 0;
    width: 110px;
    height: 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}
.weather iframe{
    margin-left: -70px;
}




/*中间新闻部分*/
.centerNews{
    display: table;
    width: 100%;
    height: 50%;
    min-height: 390px;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: rgba(180, 180, 180, 0.6);
}
.centerNews .newsMain{
    width: 100%;
    height: 230px;
    display: table;
    overflow: hidden;
}
.centerNews .new{
    height: 220px;
    width:200px;
    padding-top: 5px;
    text-align: center;
    background: #FFFFFF;
    color: #000;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 12px;

    position: absolute;
    left:50%;
    margin-left: -100px;
    top: 20px;
    opacity: 0.9;
}

.centerNews .new p{
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    color: #030303;
}
.centerNews .new .titleText{
    text-align: center;
    border-bottom: 2px red solid;
    font-size: 14px;
}


.bottom{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: 0;
}
.bottom .bottomIcon{
    width: 25%;
    height: 100px;
    float: left;
}
.bottom .bottomImg{
    text-align: center;
    overflow: hidden;
}
.bottom .bottomImg img{
    border-radius: 18px;
    height: 80px;
    border: 0;
}
