html,body{
    height: 100%;
}
body{
    background-size: cover;
    padding-top: 50px;
}

a:hover{
    text-decoration: none;
}
.mynav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px #c1c1c1 solid;
}
/*大屏幕和小屏幕显示效果不同*/
/*.mynav .top-school-name{
    padding-top: 5px;
    font-size: 10px;
    font-family: '隶书';
    padding-bottom: 0px;
}*/
.mynav .top-depart{
    line-height: 50px;
    font-size: 16px;
    font-family: '楷体';
}
.mynav .most-title-big{
    visibility: hidden;
}
.mynav .most-title-small{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 0;
    padding-left: 0;
    pointer-events: none;
}
.navbar-brand .school-icon{
    height: 30px;
    position: relative;
}
.mynavbar .nav li ul{
    display: table;
    padding-left: 0;
}
.mynavbar .nav li ul li{
    float: left;
    line-height: 40px;
    padding-right: 10px;
}
.centerNews .new{
    padding-top: 5px;
    background: #FFFFFF;
    color: #000;
    border-radius: 10px;
}
.centerNews #new1{
    margin-top: 10px;
}
.centerNews .new p{
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    color: #030303;
}

.centerNews .new .titleText{
    text-align: center;
    border-bottom: 2px red solid;
}