.time{
    padding-left: 5px;
    padding-right: 5px;
}
.content{
    padding-left: 10px;
    padding-right: 5px;
}
.tit{
    padding-left: 5px;
}
.pagination>li>a,.pagination>li>span{
	padding:6px 8px;
}

.search-main{
    position: static;
    width: 100%;
    text-align: center;
}
.search-main form{
    width: 200px;
    margin: auto;
    display: block;
}
