.time{
    padding-left: 5px;
    padding-right: 5px;
}
.content{
    padding-left: 10px;
    padding-right: 5px;
}
.tit{
    padding-left: 5px;
}
.pagination>li>a,.pagination>li>span{
	padding:6px 8px;
}