.article{
    padding-top: 100px;
}
.article .head-title{
    text-align: center;
}
.article .list-group-item{
    background: rgba(255,255,255,0.9);
}
.article .paging{
    /*分页按钮居中*/
    text-align: center;
}
.article ul li{
    overflow: hidden;
}
.article ul li p{
    display: inline-block;
    float: left;
}
.article .time{
    width: 80px;
}
.article .tit{
    width: 950px;
    overflow: hidden;

    /*文字超长显示省略号*/
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    padding:0 30px 0 15px;
}
